.header {
  max-width: 1440px;
  width: 100%;
  min-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      background: inherit;
      border: none;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .input {
      height: 32px;
      display: flex;

      input {
        width: 266px;
        border: 1px solid #b3b3b3;
        border-radius: none;
      }

      button {
        background-color: #009ee8;
        width: 32px;
        border: none;
        border-radius: none;
      }
    }
  }

  @media (max-width: 1440px) {
    padding: 0 22px;
  }
}
